.node {
  font-family: sans-serif;
  font-size: 11px;
  font-weight: 600;
}

.node rect {
  cursor: move;
  fill-opacity: .8;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .15;
}

.link:hover {
  stroke-opacity: .3;
}

